@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
html {
  box-sizing: border-box;
  font-family: Helvetica; }

*, *:after, *:before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif; }

#sky {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.main-wrapper {
  position: relative;
  height: 100%; }
  @media (min-width: 1200px) {
    .main-wrapper {
      width: 1200px;
      margin: 0 auto; } }

.bg {
  background-color: #191327;
  background-image: -webkit-linear-gradient(top, #000000 50%, #191327 80%, #2b2048);
  background-image: linear-gradient(top, #000000 50%, #191327 80%, #2b2048);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; }

.moon {
  position: absolute;
  right: 9em;
  top: 6em;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  box-shadow: 0 0 10em 0 #fff, 0 0 2em -0.25em #fff, 0 0 0.5em 0.13em rgba(255, 255, 255, 0.26);
  background-color: #fff;
  background-image: url('../img/moon.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
  font-size: 0.5em;
  cursor: pointer; }

@media (min-width: 480px) {
  .moon {
    font-size: 1em; } }

/*
  Player
*/
.music-player-container {
  position: relative;
  z-index: 2000;
  top: 16em;
  font-size: 8px;
  -webkit-transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out;
  -webkit-transform: translate3d(0, -90%, 0) scale3d(0, 0, 1);
          transform: translate3d(0, -90%, 0) scale3d(0, 0, 1); }
  .music-player-container.biadg {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  @media (min-width: 480px) {
    .music-player-container {
      position: absolute;
      left: 5em;
      bottom: 5em;
      top: auto;
      font-size: 10px; } }
  @media (min-width: 768px) {
    .music-player-container {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .music-player-container {
      font-size: 16px; } }

.music-player {
  padding: 2.5em 0 2.5em;
  text-align: center;
  position: relative;
  width: 28.75em;
  height: 23em;
  margin: auto;
  background-color: #fff; }
  @media (min-width: 480px) {
    .music-player {
      margin: 0;
      padding: 2.5em 15.5em 2.5em 2.5em;
      text-align: left; } }
  .music-player:after {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.8);
    bottom: -2px;
    content: ' ';
    display: block;
    height: 0.6em;
    left: 1.2em;
    position: absolute;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
    width: 70%;
    z-index: -1; }

.seekbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #A47D39;
  height: 0.3em;
  width: 100%; }
  @media (min-width: 480px) {
    .seekbar {
      top: auto;
      bottom: 0; } }

.seekbar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* For IE10 */
  color: #A47D39; }

.seekbar[value]::-webkit-progress-bar {
  background-color: #FFF; }

.seekbar[value]::-moz-progress-bar {
  background-color: #FFF; }

.seekbar[value]::-webkit-progress-value {
  background-color: #A47D39; }

.seekbar[value]::-moz-progress-value {
  background-color: #A47D39; }

.title {
  margin: 0 0 1.5em 0; }
  .title span {
    display: block; }
    .title span:nth-child(odd) {
      font-size: 0.75em;
      font-weight: 200;
      margin-top: 0.5em; }
    .title span:nth-child(even) {
      font-size: 1em;
      font-weight: 400;
      margin-top: 0.2em; }

.album {
  position: absolute;
  width: 20em;
  height: 20em;
  top: 20em;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.65);
  background: #fff url('../img/cover.jpg') center/cover no-repeat; }
  @media (min-width: 480px) {
    .album {
      left: 15.5em;
      top: 0;
      bottom: 0; } }

.disk {
  height: 18.75em;
  width: 18.75em;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-image: url('../img/disk.png'), url('../img/1.jpg');
  background-position: center, center;
  background-size: cover, 40% auto;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 500ms;
          transition: all 500ms;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  will-change: transform; }
  .is-playing .disk {
    top: 52%; }
  .pause .disk {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  @media (min-width: 480px) {
    .disk {
      left: 0;
      top: 0;
      bottom: 0; }
      .is-playing .disk {
        top: 0;
        left: 52%; } }

.music-player-controls {
  text-align: center; }

[class^="control-"] {
  display: inline-block;
  height: 2.75em;
  width: 2.75em;
  margin: 0 3px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out; }
  [class^="control-"]:hover {
    cursor: pointer; }

.control-play {
  background-image: url('../img/play.svg'); }

.control-pause {
  background-image: url('../img/pause.svg'); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
